.navbar-logo {
    height: 40px;   
    width: auto;    
    max-width: 120px; 
    object-fit: contain; 
    display: inline-block;
    margin-right: 15px;
    padding: 10px 0px 0px 10px;
}
.navbar-title {
    display: inline-block;
    padding: 10px;
    font-size: 2rem;
    color: #ffffff;  
}
#navbar{
    background-color: #04724D;
}
#navbar .container {
    display: flex;
    align-items: left;
    margin: 0 auto;  
}

body {
    background: #1F1F1F;
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    height: 100vh;
}
.main-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer-wrapper {
    background: #04724D;
    border-radius: 18px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    padding: 36px 56px;
    text-align: center;
}
.timer-modes {
    margin-bottom: 18px;
}
.mode-btn {
    margin: 0 8px;
    padding: 7px 18px;
    border: none;
    border-radius: 8px;
    background: #B1B695;
    cursor: pointer;
    font-size: 15px;
}
.mode-btn.active {
    background: #8D6346;
    color: #1F1F1F;
}
.timer-display {
    font-size: 70px;
    font-weight: bold;
    margin: 18px 0;
    letter-spacing: 2px;
}
.timer-controls button {
    margin: 0 12px;
    padding: 10px 38px;
    border-radius: 7px;
    border: none;
    background: #B1B695;
    color: #1F1F1F;
    font-size: 20px;
    cursor: pointer;
}
.spotify-embed {
    position: fixed;
    right: 26px;
    bottom: 25px;
    z-index: 10;
}
.mode-btn {
    margin: 0 8px;
    padding: 7px 18px;
    border: none;
    border-radius: 8px;
    background: #B1B695;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.mode-btn:hover {
    background-color: #a3aa84;
    transform: scale(1.05);
}

.mode-btn.active {
    background: #8D6346;
    color: #1F1F1F;
}

